.sequencerblock-style {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 2;
}

.seq-selector-style {
  border: 1px solid black;
}

.seqsavecomp {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.sound-selector-style {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.CanvasInit {
  border: 120px solid rgb(220, 158, 158);
}
/* .sequencer-style {
  display: flex;
  flex-direction: column;

} */

.pattern-component-style {
  border: 1px solid rgb(28, 135, 101);
  background-color: rgba(247, 246, 246, 0.953);
}

.pattern-component-style button {
  border: 1px solid rgb(131, 135, 28);
  background-color: rgba(133, 68, 147, 0.909);
  height: 100px;
  width: 60px;
}

pattern-seqrows {
  background-color: rgba(142, 147, 68, 0.909);
}

.sound-selector-style {
  border: 1px solid black;
}

.tbreel-style {
  position: absolute;
  bottom: -2%;
  left: 40%;
  text-align: center;
}

.draaiding1 {
  display: flex;
  justify-content: center;
  position: absolute;
  height: 55%;
  bottom: 43%;
  left: 2%;
}

.draaiding2 {
  display: flex;
  justify-content: center;
  position: absolute;
  height: 56%;
  bottom: 42%;
  left: 49%;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
